<div class="main_log_in">
  <div class="log_in_space">
    <div class="registrations_head", style="word-wrap: break-word;"><h2>Successfully sent to the mail</h2></div>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <div>Didn't receive a confirmation email?<div>
        <%= f.input :email,
                    required: false,
                    autofocus: false,
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                    input_html: { autocomplete: "email", placeholder: "Email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions" %>
      </div>
      <div class="link_block">
        <%= link_to "Sign up", new_registration_path(resource_name), class: 'registrations_links', style: "margin-right: 5px;" %><br />
        <span style="color: blue;">•</span>
        <%= link_to "Log in", new_session_path(resource_name), class: 'registrations_links', style: "margin-left: 5px;" %><br />
      </div>
    <% end %>
  </div>
</div>