<div class="main_log_in">
  <div class="log_in_space">  
    <div class="registrations_head"><h2>Forgot your password?</h2></div>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="password_reset_info">Tell us the email address associated with your Reddit account, and we’ll send you an email with your username. </div>

      <div class="form-inputs_reset_password">
        <%= f.input :email,
                    required: false,
                    autofocus: false,
                    input_html: { autocomplete: "email", placeholder: "Email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reset password" %>
      </div>
      <div class="link_block">
        <%= link_to "Sign up", new_registration_path(resource_name), class: 'registrations_links', style: "margin-right: 5px;" %><br />
        <span style="color: blue;">•</span>
        <%= link_to "Log in", new_session_path(resource_name), class: 'registrations_links', style: "margin-left: 5px;" %><br />
      </div>
    <% end %>
  </div>
</div>
