//%div{id: 'main_page_name'} Posts
%div{id: "repost_modal"}
.main
  #posts_wrapper
    - @post.each do |post|
      .post
        =link_to post, class: "post_active" do
          .post_info
            #{t(:published_at)}
            = time_ago_in_words(post.updated_at)
            #{t(:by)}
            %object= link_to Profile.find_by(user_id: post.user).nick_name, profile_path(post.user.id), class: 'user_reference_inactive'
          %h4{ class: 'post_title_read' }= post.title
          .post_image_space
            - if post.avatar.attached?
              = image_tag post.avatar, class: "post_image"
          %div{ class: 'post_content_read' }= post.content
        .post_actions_bar
          = render 'posts/upvote_link', post: post
          =button_to posts_repost_path, params: { is_open: true, post_id: post.id}, type: 'submit', class: 'repost_button ico_button ico_button_active_background', id: "repost_button_#{post.id}", method: :post do
            %i{ class: "fa fa-share fa-lg" }
          
          