!!!
%html
  %head
    %title Forum
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    -# The only way to add jQuery
    = javascript_include_tag "jquery-3.6.1.min"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    - if current_user 
      :css
        .msg-#{current_user.id}{
          align-self: flex-end;
          background-color: #0079d3;
        }
        .msg-#{current_user.id} > .message_user_name{
          color: lightpink;
        }

  %body
    %div.global_wrapper
      %header.main_header
        %nav
          #logo
            #logo_icon= link_to show_svg('logo.svg'), root_path
            #logo_name= link_to 'Rails Forum', root_path, id: 'logo_text'
          #buttons
            %h3
            =link_to "<button class = 'nav_button' id = new_post>#{t(:new_post)}</button>".html_safe, new_post_path if (controller_name != 'sessions' && action_name != 'new' && user_signed_in?) # ? *
            -if user_signed_in?
              =link_to "<button class = 'nav_button' id = sign_out>#{t(:sign_out)}</button>".html_safe, destroy_user_session_path, data: { turbo_method: :delete }
            -else
              =link_to "<button class = 'nav_button' id = sign_in>#{t(:sign_in)}</button>".html_safe, new_user_session_path if (controller_name != 'sessions' && action_name != 'new') # ? *
      %div.main_header.header_clone
      .error_field
      -#
        .message_field
          %div.notice= notice
          %div.alert= alert
      -# tabs are really important in haml *
      - if user_signed_in?
        .side_tool_bar
          .side_tool_bar_selector= button_to "<i class='fa fa-user-circle-o fa-lg'>&nbsp#{t(:my_page)}</i>".html_safe, profile_path(current_user.id), method: :get, class: 'side_tool_bar_button'
          .side_tool_bar_selector= button_to "<i class='fa fa-gear fa-lg'>&nbsp#{t(:settings)}</i>".html_safe, edit_profile_path(current_user.id), method: :get, class: 'side_tool_bar_button'
          #messenger
          #friends
      = yield
    